<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaoyao.travel.common.dao.AttractionPostMapper">

    <resultMap type="com.xiaoyao.travel.common.entity.AttractionPost" id="attractionPostMap">
        <result property="attractionId" column="attraction_id"/>
        <result property="postCommentId" column="post_comment_id"/>
    </resultMap>


</mapper>