<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaoyao.travel.common.dao.PlanAttractionMapper">

    <resultMap type="com.xiaoyao.travel.common.entity.PlanAttraction" id="planAttractionMap">
        <result property="planAttractionId" column="plan_attraction_id"/>
        <result property="travelPlanId" column="travel_plan_id"/>
        <result property="startTime" column="start_time"/>
        <result property="attractionId" column="attraction_id"/>
        <result property="detail" column="detail"/>
    </resultMap>


</mapper>